html,
body {
  height: 100%;
  font-family: 'Roboto';
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #2ec2b0;
}

.emoji {
  font-size: 450%;
  animation: emojiJump .6s cubic-bezier(0.34, 1.56, 0.64, 1) 1 alternate forwards;
}

.loginHeader {
  padding: 4px 0;
  color: #fff;
  font-family: 'Montserrat';
  text-shadow: 2px 2px 1px #1cb3a1;
}

.form-signin {
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin: auto;
  box-sizing: border-box;
}
.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.top {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
}

.top::-webkit-input-placeholder,
.bottom::-webkit-input-placeholder {
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 300;
  opacity: .8;
}

.bottom {
  margin-bottom: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.text-muted {
  margin-top: 20px;
  color: rgba(255,255,255, .8);
}

.loginBtn {
  color: #fff;
  border: none;
}

.register {
  margin-top: 10px;
}

.register .registerLink,
.register .registerLink:visited {
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}


@keyframes emojiJump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
